[submodule "extern/sdpt3"]
	path = extern/sdpt3
	url = https://github.com/sqlp/sdpt3.git
[submodule "extern/matilda"]
	path = extern/matilda
	url = https://github.com/andremun/InstanceSpace.git
[submodule "extern/sedumi"]
	path = extern/sedumi
	url = https://github.com/sqlp/sedumi.git
[submodule "extern/lorads"]
	path = extern/lorads
	url = https://github.com/COPT-Public/LoRADS.git
[submodule "extern/manopt"]
	path = extern/manopt
	url = https://github.com/NicolasBoumal/manopt.git
[submodule "extern/scs"]
	path = extern/scs
	url = https://github.com/cvxgrp/scs.git
[submodule "extern/InstanceSpace"]
	path = extern/InstanceSpace
	url = https://github.com/andremun/InstanceSpace
