[submodule "extern/sdpt3"]
	path = extern/sdpt3
	url = https://github.com/sqlp/sdpt3.git
[submodule "extern/sedumi"]
	path = extern/sedumi
	url = https://github.com/sqlp/sedumi.git
[submodule "extern/InstanceSpace"]
	path = extern/InstanceSpace
	url = https://github.com/andremun/InstanceSpace
